table {
  width: 100%;
  border-collapse:separate; 
  border-spacing:0 15px; 
}

.table-view-all {
  text-align:right;
  color:#eb3b3b;
  font-size:12px;
  display: block;
  text-decoration: underline;
}

th {
  text-align: left;
  padding:  10px 15px !important;
  font-size: 12px;
}

 td {
  text-align: left;
  padding: 15px !important;
  font-size: 12px;
  border: 1px solid rgb(236, 236, 236);
}


tr:nth-child(even) {
 
}


.transactions-col{
    padding: 20px !important;
}
